@font-face {
   font-family: 'Signatra';
   font-display: swap;
   src: url('file:///C:/Users/Linestar%20Desing/AppData/Local/Mobirise.com/Mobirise/projects/project-2024-09-17_081115/fonts/Signatra/font.ttf');
}
